<%- include("partials/header"); -%>

<section class="flights" id="flights">
  <!-- <div class="content"> -->
  <h3 data-aos="fade-up" data-aos-delay="300">Search Flights</h3>
  <p>Discover the Wizarding World with Us</p>
  <!-- </div> -->
  
</section>

<section class="login" id="login">
  <div class="box-container">
    <div class="box" data-aos="fade-up" data-aos-delay="150">
      <h3>Book a flight</h3>
      <div class="extra-section1">
        <div class="box3">
            <button type="button"  class="add-new-flight">Add new Destination</button>
            <button  type="button" class="remove-new-flight">Remove Destination</button>    
        </div>
      </div>
      <form action="/allflights/search" method="post">
        
        <div class="tripType" style="margin-top: 30px;">
          <span>Trip type</span>
          <div class="trip-details">
            <div>
              <input type="radio" id="one-way" name="tripType" value="one-way">
              <label for="one-way">One Way Trip</label>
            </div>
            <div>
              <input type="radio" id="round-trip" name="tripType" value="round-trip">
              <label for="round-trip">Round trip</label>
            </div>
            <div>
              <input type="radio" id="multi-cities" name="tripType" value="multi-cities">
              <label for="multi-cities">Multi cities</label>
            </div>
          </div>
        </div>


        <div class="place">
          <div class="inputBox">
            <span>From</span>
            <select name="departure" id="from-select">
              <option value="" disabled selected>Select a state</option>
              <option value="Andhra Pradesh">Andhra Pradesh</option>
              <option value="Arunachal Pradesh">Arunachal Pradesh</option>
              <option value="Assam">Assam</option>
              <option value="Bihar">Bihar</option>
              <option value="Chhattisgarh">Chhattisgarh</option>
              <option value="Goa">Goa</option>
              <option value="Gujarat">Gujarat</option>
              <option value="Haryana">Haryana</option>
              <option value="Himachal Pradesh">Himachal Pradesh</option>
              <option value="Jharkhand">Jharkhand</option>
              <option value="Karnataka">Karnataka</option>
              <option value="Kerala">Kerala</option>
              <option value="Madhya Pradesh">Madhya Pradesh</option>
              <option value="Maharashtra">Maharashtra</option>
              <option value="Manipur">Manipur</option>
              <option value="Meghalaya">Meghalaya</option>
              <option value="Mizoram">Mizoram</option>
              <option value="Nagaland">Nagaland</option>
              <option value="Odisha">Odisha</option>
              <option value="Punjab">Punjab</option>
              <option value="Rajasthan">Rajasthan</option>
              <option value="Sikkim">Sikkim</option>
              <option value="Tamil Nadu">Tamil Nadu</option>
              <option value="Telangana">Telangana</option>
              <option value="Tripura">Tripura</option>
              <option value="Uttar Pradesh">Uttar Pradesh</option>
              <option value="Uttarakhand">Uttarakhand</option>
              <option value="West Bengal">West Bengal</option>
            </select>
          </div>

          <div class="inputBox">
            <span>Where</span>
            <select name="arrival" id="from-select">
              <option value="" disabled>Select the place</option>
              <option value="<%=destination%>" selected><%=destination%></option>
              <option value="Hogwarts Castle">Hogwarts Castle</option>
              <option value="Diagon Alley">Diagon Alley</option>
              <option value="Hogsmeade Village">Hogsmeade Village</option>
              <option value="The Forbidden Forest">The Forbidden Forest</option>
              <option value="Ministry of Magic">Ministry of Magic</option>
              <option value="Durmstrang Institute">Durmstrang Institute</option>
              <option value="Beauxbatons Academy of Magic">Beauxbatons Academy of Magic</option>
              <option value="Azkaban">Azkaban</option>
            </select>
          </div>

          <div class="extra-section2">
            <div class="place">
              <div class="inputBox">
                <span>Departure</span>
                <input type="date" value="" name="newDepartureDate[]" id="calendar">
              </div>
            </div>  
          </div>

        </div>
        <% var count = 2 %>
        <input type="hidden" name="count" value="<%= count %>">

        <div class="extra-section">
          <div class="place">
            <div class="inputBox">
              <span>From</span>
              <select name="newDeparture[]" id="from-select"> 
                <option value="" disabled selected>Select a state</option>
                <option value="Andhra Pradesh">Andhra Pradesh</option>
                <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                <option value="Assam">Assam</option>
                <option value="Bihar">Bihar</option>
                <option value="Chhattisgarh">Chhattisgarh</option>
                <option value="Goa">Goa</option>
                <option value="Gujarat">Gujarat</option>
                <option value="Haryana">Haryana</option>
                <option value="Himachal Pradesh">Himachal Pradesh</option>
                <option value="Jharkhand">Jharkhand</option>
                <option value="Karnataka">Karnataka</option>
                <option value="Kerala">Kerala</option>
                <option value="Madhya Pradesh">Madhya Pradesh</option>
                <option value="Maharashtra">Maharashtra</option>
                <option value="Manipur">Manipur</option>
                <option value="Meghalaya">Meghalaya</option>
                <option value="Mizoram">Mizoram</option>
                <option value="Nagaland">Nagaland</option>
                <option value="Odisha">Odisha</option>
                <option value="Punjab">Punjab</option>
                <option value="Rajasthan">Rajasthan</option>
                <option value="Sikkim">Sikkim</option>
                <option value="Tamil Nadu">Tamil Nadu</option>
                <option value="Telangana">Telangana</option>
                <option value="Tripura">Tripura</option>
                <option value="Uttar Pradesh">Uttar Pradesh</option>
                <option value="Uttarakhand">Uttarakhand</option>
                <option value="West Bengal">West Bengal</option>
                
                <option value="Hogwarts Castle">Hogwarts Castle</option>
                <option value="Diagon Alley">Diagon Alley</option>
                <option value="Hogsmeade Village">Hogsmeade Village</option>
                <option value="The Forbidden Forest">The Forbidden Forest</option>
                <option value="Ministry of Magic">Ministry of Magic</option>
                <option value="Durmstrang Institute">Durmstrang Institute</option>
                <option value="Beauxbatons Academy of Magic">Beauxbatons Academy of Magic</option>
                <option value="Azkaban">Azkaban</option>
              </select>
            </div>

            <div class="inputBox">
              <span>Where</span>
              <select name="newArrival[]" id="from-select"> 
                <option value="" disabled>Select the place</option>
                <option value="<%=destination%>" selected><%=destination%></option>
                <option value="Hogwarts Castle">Hogwarts Castle</option>
                <option value="Diagon Alley">Diagon Alley</option>
                <option value="Hogsmeade Village">Hogsmeade Village</option>
                <option value="The Forbidden Forest">The Forbidden Forest</option>
                <option value="Ministry of Magic">Ministry of Magic</option>
                <option value="Durmstrang Institute">Durmstrang Institute</option>
                <option value="Beauxbatons Academy of Magic">Beauxbatons Academy of Magic</option>
                <option value="Azkaban">Azkaban</option>
              </select>
            </div>
          </div>

          

          <div class="place">
            <div class="inputBox">
              <span>Departure</span>
              <input type="date" value="" name="departureDate" id="calendar">
            </div>
          </div>
        </div>

        <div class="place">
          <div class="inputBox" id="defaultDeparture">
            <span>Departure</span>
            <input type="date" value="" name="departureDate" id="calendar">
          </div>

          <div class="inputBox">
            <span>Return</span>
            <input type="date" value="" name="returnDate" id="calendar2">
          </div>
        </div>


        <div class="place">
          <div class="inputBox">
            <span>Children</span>
            <input type="number" placeholder="Number of children" value="" name="children" id="adults">
        </div>

          <div class="inputBox">
            <span>Adults(16+)</span>
            <input type="number" placeholder="Number of adults" value="" name="adults" id="adults">
          </div>
        </div>
        <div class="place">
          <div class="inputBox">
              <span>Class</span>
              <select name="from" id="from-select">
                  <option value="" disabled selected>Select the Class</option>
                  <option value="Economy Class">Economy Class</option>
                  <option value="Business Class">Business Class</option>
                  <option value="First Class">First Class</option>
              </select>
          </div>

          <div class="inputBox">
              <span>Fare</span>
              <select name="from" id="from-select">
                  <option value="" disabled selected>Select Fare Type</option>
                  <option value="Regular Fare">Regular Fare</option>
                  <option value="Student Fare">Student Fare</option>
                  <option value="Senior Citizen Fare">Senior Citizen Fare</option>
              </select>
          </div>
      </div>

        <button type="submit" class="book-flight">Search Flights</button>
      </form>
    </div>
  </div>
</section>

<section class="container" style="font-size: 2rem; color:white; margin-top : 100px;">
  <h1 style="font-size: 4rem; margin-bottom:30px;">Some Popular Scheduled flights for your destination</h1>
  <div class="flight-container">
    <% allFlights.forEach(function(flight) { %>
      <div class="flight-card">
        <h2><%= flight.departure %> to <%= flight.arrival %></h2>

        <% flight.schedule.forEach(function(schedule) { %>
        <p>Available Seats: <%= schedule.availableSeats %></p>
        <% }); %>
        
        <a href="/allflights/<%= flight._id %>">Read More</a>
      </div>
    <% }); %>
  </div>
</section>

<%- include("partials/footer"); -%>

<script>
  const multiCitiesRadio = document.getElementById('multi-cities');
  const extraSection = document.querySelector('.extra-section');
  const extraSection1 = document.querySelector('.extra-section1');
  const extraSection2 = document.querySelector('.extra-section2');
  const addFlightButton = document.querySelector('.add-new-flight');
  const removeFlightButton = document.querySelector('.remove-new-flight');
  const defaultDeparture = document.querySelector("#defaultDeparture");
  const bookFlight = document.querySelector(".book-flight");



  function toggleExtraSection() {
    if (multiCitiesRadio.checked) {
      extraSection.style.display = 'block';
      extraSection1.style.display = 'block';
      extraSection2.style.display = 'block';
      addFlightButton.style.display = 'block';
      defaultDeparture.style.display = "none";
    } else {
      extraSection.style.display = 'none';
      extraSection1.style.display = 'none';
      extraSection2.style.display = 'none';
      addFlightButton.style.display = 'none';
      defaultDeparture.style.display = "block";
    }
  }

  extraSection1.style.display = 'none';
  extraSection2.style.display = 'none';
  defaultDeparture.style.display = "block";


  multiCitiesRadio.addEventListener('click', toggleExtraSection);

  addFlightButton.addEventListener('click', function() {
    const clonedExtraSection = extraSection.cloneNode(true);
    extraSection.parentNode.insertBefore(clonedExtraSection, extraSection.nextSibling);
    clonedExtraSection.style.display = 'block';
    count+=1;
  });

  bookFlight.addEventListener('click',function(){
    count = 2;
  });

  removeFlightButton.addEventListener('click', function() {
    const clonedExtraSections = document.querySelectorAll('.extra-section');
    if(count>2){
      count-=1;
    }

    if (clonedExtraSections.length > 1) {
      const lastClonedExtraSection = clonedExtraSections[clonedExtraSections.length - 1];
      lastClonedExtraSection.remove();
    }
  });
</script>
