<%- include("partials/header"); -%>

<section class="edit">
  <h1 class="text">Edit Destination</h1>

  <div class="edit2">
<form action="/alldestinations/<%= foundDestination._id %>/edit" method="post" style="color: white; font-size: 2rem;">
  <div class="form-group">
    <label for="updatedTitle">Title</label>
    <input type="text" class="form-control" id="updatedTitle" name="updatedTitle" value="<%= foundDestination.title %>" required>
  </div>
  <div class="form-group">
    <label for="updatedFirstPara">First Short Paragraph</label>
    <input type="text" class="form-control" id="updatedFirstPara" name="updatedFirstPara" value="<%= foundDestination.firstPara %>" required>
  </div>
  <div class="form-group">
    <label for="updatedContent">Content</label>
    <textarea class="form-control" id="updatedContent" name="updatedContent" style="white-space: pre-wrap;" rows="8" required><%= foundDestination.content %></textarea>
  </div>
  <div class="form-group">
    <label for="firstImg">First Image URL</label>
    <input type="text" class="form-control" id="firstImg" name="firstImg" value="<%= foundDestination.firstImg %>" required>
  </div>
  <div class="form-group">
    <label for="imagesURL">Images URL</label>
    <input type="text" class="form-control" id="imagesURL" name="imagesURL">
  </div>
  <div class="tp">
    <button type="submit" class="btn btn-primary">Update</button>
  </div>
</form>

<h3 style="margin-top: 50px; color:white; font-size : 2rem;">Existing Images</h3>

<% if (foundDestination.imagesURL && foundDestination.imagesURL.length > 0) { %>
  <ul>
    <% foundDestination.imagesURL.forEach(function(image) { %>
      <li>
        <div class="buttons">
          <form action="/alldestinations/<%= foundDestination._id %>/delete-image" method="post">
            <input type="hidden" name="imagesURL" value="<%= image %>">
            <button type="submit" class="btn btn-danger btn-sm">Remove</button>
          </form>
  
        </div>
        <img src="<%= image %>" class="img" alt="Destination Image">
      </li>
    <% }) %>
  </ul>
<% } else { %>
  <p style="color:white; font-size : 2rem;">No images found.</p>
<% } %>

  </div>
</section>

<%- include("partials/footer"); -%>
