<%- include("partials/header"); -%>

<section class="home" id="home">
    <!-- <div class="content"> -->
    <% if(user && user.role === "user") { %>
      <% if(user.googleId) { %>
        <h3 data-aos="fade-up" data-aos-delay="300" style="padding-top: 400px;">Hello, <%= user.googleDisplayName %></h3>
      <% } else { %>
        <h3 data-aos="fade-up" data-aos-delay="300" style="padding-top: 400px;">Hello, <%= user.name %></h3>
      <% } %>
      <p data-aos="fade-up" data-aos-delay="400" >Enter the realm of enchantment and seek wisdom in our magical conversation.</p>
    <% } else if(user && user.role === "admin") { %>
      <h3 data-aos="fade-up" data-aos-delay="300" style="padding-top: 400px;">Hello, Admin</h3>
      <p data-aos="fade-up" data-aos-delay="400">Enter the realm of enchantment and seek wisdom in our magical conversation.</p>
    <% } else { %>
      <h3 data-aos="fade-up" data-aos-delay="300" style="padding-top: 400px">Follow Us Unknown</h3>
      <p data-aos="fade-up" data-aos-delay="400">Enter the realm of enchantment and seek wisdom in our magical conversation.</p>
    <% } %>
    <div class="tp">
      <a data-aos="fade-up" data-aos-delay="600" href="/allflights" class="btn">Book Now</a>
    </div>
    <!-- </div> -->
  </section>

<section class="book-form" id="book-form">
    <form action="/allflights/search" method="post">
        <div data-aos="zoom-in" data-aos-delay="150" class="inputBox">
        <span>From :</span>
            <select  name="departure" id="from-select">
                <option value="" disabled selected>Select a state</option>
            <option value="Andhra Pradesh">Andhra Pradesh</option>
            <option value="Arunachal Pradesh">Arunachal Pradesh</option>
            <option value="Assam">Assam</option>
            <option value="Bihar">Bihar</option>
            <option value="Chhattisgarh">Chhattisgarh</option>
            <option value="Goa">Goa</option>
            <option value="Gujarat">Gujarat</option>
            <option value="Haryana">Haryana</option>
            <option value="Himachal Pradesh">Himachal Pradesh</option>
            <option value="Jharkhand">Jharkhand</option>
            <option value="Karnataka">Karnataka</option>
            <option value="Kerala">Kerala</option>
            <option value="Madhya Pradesh">Madhya Pradesh</option>
            <option value="Maharashtra">Maharashtra</option>
            <option value="Manipur">Manipur</option>
            <option value="Meghalaya">Meghalaya</option>
            <option value="Mizoram">Mizoram</option>
            <option value="Nagaland">Nagaland</option>
            <option value="Odisha">Odisha</option>
            <option value="Punjab">Punjab</option>
            <option value="Rajasthan">Rajasthan</option>
            <option value="Sikkim">Sikkim</option>
            <option value="Tamil Nadu">Tamil Nadu</option>
            <option value="Telangana">Telangana</option>
            <option value="Tripura">Tripura</option>
            <option value="Uttar Pradesh">Uttar Pradesh</option>
            <option value="Uttarakhand">Uttarakhand</option>
            <option value="West Bengal">West Bengal</option>
            </select>
        </div>
        <div data-aos="zoom-in" data-aos-delay="300" class="inputBox">
            <span>Where :</span>
            <select  name="arrival" id="from-select">
                <option value="" disabled selected>Select the place</option>
                <option value="Hogwarts Castle">Hogwarts Castle</option>
                <option value="Diagon Alley">Diagon Alley</option>
                <option value="Hogsmeade Village">Hogsmeade Village</option>
                <option value="The Forbidden Forest">The Forbidden Forest</option>
                <option value="Ministry of Magic">Ministry of Magic</option>
                <option value="Durmstrang Institute">Durmstrang Institute</option>
                <option value="Beauxbatons Academy of Magic">Beauxbatons Academy of Magic</option>
                <option value="Azkaban">Azkaban</option>
            </select>
        </div>
        <div data-aos="zoom-in" data-aos-delay="300" class="inputBox">
            <span>When ?</span>
            <input type="date" name="departureDate" value="">
        </div>
        <div data-aos="zoom-in" data-aos-delay="450" class="inputBox">
            <span>Adults(16+)</span>
            <input type="number" placeholder="number of travelers" name="adults" value="">
        </div>
        <div data-aos="zoom-in" data-aos-delay="450" class="inputBox">
            <span>Children</span>
            <input type="number" placeholder="number of travelers" name="children" value="">
        </div>
        <input data-aos="zoom-in" data-aos-delay="600" type="submit" value="find now" class="btn">
    </form>
</section>



<% if(user && user.role==="user" && user.bookedFlights && user.bookedFlights.length > 0 && destination !== null && user.bookedFlights[0].arrival){ %>
<section class="tp">    
    <h1>My Schedule</h1>
</section>

<section class="my-schedule">
    <% bookedFlight = user.bookedFlights[0] %>
    <div class="box-container">
        <div class="box">
            <h3>Trip 1</h3>
            <h3><%= bookedFlight.name %></h3>
            <div class="box-container1">
                <div class="box1" data-aos="fade-up" data-aos-delay="100">
                    <div class="image">
                        <img src="<%= destination.firstImg %>" alt="">
                        <h3><i class="fas fa-map-marker-alt"></i><%= destination.title %></h3>
                    </div>
                    <div class="content">
                        <div class="price">₹ 999 <span>1499</span></div>
                        <p><%= destination.firstPara %></p>
                        <a href="/alldestinations/<%= destination._id %>">Read More <i class="fas fa-angle-right"></i></a>
                    </div>
                <!-- <span>Location : Hogwarts Castle</span>
                <span>Numb </span> -->
            </div> 
        <section class="book-form" id="book-form">
            <form action="">
                <div data-aos="zoom-in" data-aos-delay="150" class="inputBox">
                <span>From :</span>
                    <input type="text" value="<%= bookedFlight.departure %>">
                </div>
                <div data-aos="zoom-in" data-aos-delay="300" class="inputBox">
                    <span>To :</span>
                    <input type="text" value="<%= bookedFlight.arrival %>">
                </div>
                <!-- <div data-aos="zoom-in" data-aos-delay="300" class="inputBox">
                    <span>When ?</span>
                    <input type="date" value="">
                </div> -->
                <div data-aos="zoom-in" data-aos-delay="450" class="inputBox">
                    <span>Departure Date :</span>
                    <input type="text"  value="<%= bookedFlight.departureDate %>">
                </div>
                <!-- <input class="form-control user-success" id="starting-date" name="date" required="" type="date" value="2017-04-07" data-initialized="true" autofocus="autofocus">             -->
            </form>
     </section>
     <section class="tp2">
        <div class="wrapper">
            <header>
              <p class="current-date"></p>
              <div class="icons">
                <span id="prev" class="material-symbols-rounded">chevron_left</span>
                <span id="next" class="material-symbols-rounded">chevron_right</span>
              </div>
            </header>
            <div class="calendar">
              <ul class="weeks">
                <li>Sun</li>
                <li>Mon</li>
                <li>Tue</li>
                <li>Wed</li>
                <li>Thu</li>
                <li>Fri</li>
                <li>Sat</li>
              </ul>
              <ul class="days"></ul>
            </div>
          </div>
    </section>

</section>

<% } %>


<section class="about" id="about">
    <div class="video-container" data-aos="fade-right" data-aos-delay="100" id="videoContainer">
        <video id="videoPlayer" muted autoplay class="video">
            <source src="/videos/video1.mp4" type="video/mp4">
            <source src="/videos/video2.mp4" type="video/mp4">
            <source src="/videos/video3.mp4" type="video/mp4">
          </video>
    </div>

    <div class="content" data-aos="fade-left" data-aos-delay="600">
        <span>Why Choose us ?</span>
        <h3>Natures Majesty awaits you</h3>
        <p>uhvovbjv erjnfewuofoififnewfnwoifn  ffnwoefnonwe we coiwen  e wfboifnbe  ewoubuo cewjlc  c w i</p>
        <a href="#" class="btn">Read More</a>
    </div>

</section>


<section class="destination" id="destination">
    <div class="heading">
        <span>Our Packages</span>
        <h1>Explore the Mysterious Realms of Magic
        </h1>
    </div>

    <div class="box-container">
        <% let animationTime = 100; %>
        <% destinations.forEach(function(destination, index){ %>
          <div class="box" data-aos="fade-up" data-aos-delay="<%= animationTime %>">
            <div class="image">
              <img src="<%= destination.firstImg %>" alt="">
              <h3><i class="fas fa-map-marker-alt"></i><%= destination.title %></h3>
            </div>
            <div class="content">
              <div class="price">₹ 999 <span>1499</span></div>   
              <p><%= destination.firstPara %></p>
              <a href="/alldestinations/<%= destination._id %>">Read More <i class="fas fa-angle-right"></i></a>
            </div>
          </div> 
          <% animationTime += 100; %>
          <% if (index === destinations.length - 1) { %>
            <% animationTime = 100; %>
          <% } %>
        <% }); %>
      </div>
      
      <a href="/alldestinations" class="btn btn-primary">More Destinations</a>
</section>

<section class="pricing" id="pricing">
    <h1 class="heading">Our Pricing
    </h1>
    <div class="box-container">
        <div class="box" data-aos="fade-up" data-aos-delay="150">
            <h3>Basic Plan</h3>
            <div class="price">
                <span>₹</span>
                <span class="amount">20,000</span>
                <span>/mo</span>
            </div>
            <ul>
                <li>10 days</li>
                <li>food and drinks</li>
                <li>safety guide</li>
                <li>insurance</li>
                <li>luxury hotel</li>
            </ul>
            <a href="#" class="btn">choose plan</a>
        </div>

        <div class="box" data-aos="fade-up" data-aos-delay="300">
            <h3>Standard Plan</h3>
            <div class="price">
                <span>₹</span>
                <span class="amount">35,000</span>
                <span>/mo</span>
            </div>
            <ul>
                <li>20 days</li>
                <li>food and drinks</li>
                <li>safety guide</li>
                <li>insurance</li>
                <li>luxury hotel</li>
            </ul>
            <a href="#" class="btn">choose plan</a>
        </div>

        <div class="box" data-aos="fade-up" data-aos-delay="450">
            <h3>Premium Plan</h3>
            <div class="price">
                <span>₹</span>
                <span class="amount">50,000</span>
                <span>/mo</span>
            </div>
            <ul>
                <li>30 days</li>
                <li>food and drinks</li>
                <li>safety guide</li>
                <li>insurance</li>
                <li>luxury hotel</li>
            </ul>
            <a href="#" class="btn">choose plan</a>
        </div>

    </div>
</section>


<section class="destination" id="destination">
    <div class="heading">
        <span>Our Hotel Packages</span>
        <h1>Explore the Mysterious Realms of Magic
        </h1>
    </div>

    <div class="box-container">
        <% let animationTimer = 100; %>
        <% hotels.forEach(function(hotel, index){ %>
          <div class="box" data-aos="fade-up" data-aos-delay="<%= animationTimer %>">
            <div class="image">
              <img src="<%= hotel.firstImg %>" alt="">
              <h3><i class="fas fa-map-marker-alt"></i><%= hotel.name %></h3>
            </div>
            <div class="content">
              <div class="price">₹ <%= hotel.pricePerNight %> <span>1499</span></div>   
              <p><%= hotel.firstPara %></p>
              <a href="/allhotels/<%= hotel._id %>">Read More <i class="fas fa-angle-right"></i></a>
            </div>
          </div> 
          <% animationTimer += 100; %>
          <% if (index === hotels.length - 1) { %>
            <% animationTimer = 100; %>
          <% } %>
        <% }); %>
      </div>
      
      <a href="/allhotels" class="btn btn-primary">More Hotels</a>
</section>


<section class="services" id="services">
    <div class="heading">
        <span>Our Services</span>
        <h1>Countless Experience</h1>
    </div>

    <div class="box-container">
        <div class="box" data-aos="zoom-in-up" data-aos-delay="150">
            <i class="fas fa-globe"></i>
            <h3><a href="/alldestinations" style="color : white;">Worldwide</a></h3>
        </div>

        <div class="box" data-aos="zoom-in-up" data-aos-delay="300">
            <i class="fas fa-hiking"></i>
            <h3>Adventures</h3>
            <p></p>
        </div>

        <div class="box" data-aos="zoom-in-up" data-aos-delay="450">
            <i class="fas fa-utensils"></i>
            <h3>Food & Drinks</h3>
            <p></p>
        </div>

        <div class="box" data-aos="zoom-in-up" data-aos-delay="600">
            <i class="fas fa-hotel"></i>
            <h3><a href="/allhotels" style="color : white;">Affordable Hotels</a></h3>
            <p></p>
        </div>

        <div class="box" data-aos="zoom-in-up" data-aos-delay="750">
            <i class="fas fa-wallet"></i>
            <h3><a href="/allflights" style="color : white;">Affordable Price</a></h3>
            <p></p>
        </div>

        <div class="box" data-aos="zoom-in-up" data-aos-delay="900">
            <i class="fas fa-headset"></i>
            <h3><a href="/contact" style="color : white;">24/7 Support</a></h3>
            <p></p>
        </div>
    </div>
</section>

<section class="review" id="review">
    <h1 class="heading">Client's Review</h1>
    <div class="swiper mySwiper review-slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide slide">
          <img src="/images/elon.jpg" alt="">
          <h3>Elon Musk</h3>
          <p>"Absolutely thrilled with my travel experience! The travel agency provided exceptional service, from planning my itinerary to arranging accommodations. The attention to detail and personalized recommendations made my trip unforgettable. I highly recommend their services to anyone seeking a seamless and memorable travel adventure."</p>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </section>

<section class="contact" id="contact">
    <h1 class="heading">Contact Us</h1>
    <form action="">
        <div class="inputBox">
            <input type="text" placeholder="enter your name">
            <input type="email" placeholder="enter your email">
        </div>

        <div class="inputBox">
            <input type="number" placeholder="enter your number">
            <input type="text" placeholder="subject">
        </div>

        <textarea name="" placeholder="enter your message" id="" cols="30" rows="10"></textarea>

        <input type="submit" value="send message" class="btn">
        
    </form>
</section>


<!-- <section class="review">
    <div class="content" data-aos="fade-right" data-aos-delay="200">
        <span>Creators</span>
        <h3>Special Thanks</h3>
        <p>A heartfelt thank you to our talented frontend designer for their exceptional creativity and attention to detail in crafting a visually captivating travel agency website. A special thanks to our skilled backend developer for their expertise in optimizing performance and creating seamless functionality. Your contributions have made this project a success!</p>
    </div>

    <div class="box-container" data-aos="fade-left" data-aos-delay="400">
        <div class="box">
            <p>Exceptional frontend developer with a passion for crafting seamless user experiences. Proficient in HTML, CSS, and JavaScript. Committed to delivering clean code and pixel-perfect designs.</p>
            <div class="user">
                <img src="/images/me.jpg" alt="">
                <div class="info">
                    <h3>Romir Bedekar</h3>
                    <span>designer</span>
                </div>
            </div>
        </div>

        <div class="box">
            <p>Skilled backend developer. Proficient in languages like Python, Java, or Node.js. Passionate about optimizing performance and creating secure and efficient server-side functionality.</p>
            <div class="user">
                <img src="/images/me.jpg" alt="">
                <div class="info">
                    <h3>Tirthraj Raval</h3>
                    <span>Backend developer</span>
                </div>
            </div>
        </div>
    </div>
</section> -->


<div class="banner">
    <div class="content" data-aos="zoom-in-up" data-aos-delay="100">
        <span>Start Your Magical Adventures</span>
        <h3>Let's Explore This World !!! </h3>
        <p>para</p>
        <a href="#book-form" class="btn">book now</a>
    </div>
</div>

<%- include("partials/footer") -%>