<div class="button-container">
  <style>
    .button-container{
      text-align: center;
      margin-top: 20px;
    }
    .btn{
      margin-top: 1rem;
      display: inline-block;
      padding: 1rem 3rem;
      font-size: 1.3rem;
      color: #ffffff;
      background: #3bb2e6;
      border-radius: 1rem;
      cursor: pointer;
      margin-left: 3rem;
      margin-bottom: 3rem;
      text-decoration: none;
    }
    @media (max-width: 768px) {
      .btn {
        font-size: .8rem;
      }
    }
    .btn:hover {
      color: #000;
    }
    
  </style>
  <a class="btn" href="/download-ticket">Download Ticket</a>
<a class="btn" href="/">Back To Home</a>
</div>

<%- include("partials/newheader.ejs"); -%>


<table cellspacing="0" cellpadding="0" width="60%" style="border: 1px solid #000; max-width: 65%; margin: 0 auto; font-family: 'Montserrat', sans-serif; padding: 0 20px; color: #000; background-color: #ffffff;">
    <div class="cl1">
        <tr> 
            <!-- <td style="padding: 20px 0 20px 15px; text-align: left; font-weight: 400;">
              <h1 style="color: #3bb2e6; margin:  0 0 5px; text-transform: uppercase; margin-top: 2rem;margin-bottom: -1.5rem;margin-left: -.9rem; font-size: 25px;">Tax Invoice</h1>
            </td> -->
            
  
            <td align="right" style="font-weight: bolder; font-size: 2.2rem; color: #111;">
              <h3 style="margin:  0 0 5px; text-transform: uppercase; margin-top: 2rem;margin-bottom: -1.5rem;margin-left: -.9rem;"><%=newbooking.departure%> To <%=newbooking.arrival%></h3>
              <h1 style="color: #3bb2e6; margin:  0 0 5px; text-transform: uppercase; margin-top: 2rem;margin-bottom: -1.5rem;margin-left: -.9rem; font-size: 22px;">Flight Invoice</h1>

            </td>
          </tr>
          <tr>
            <!-- <td colspan="2">

            <table cellspacing="0" cellpadding="0" width="100%" style="margin: 0 0 15px; margin-top: 3rem;">
                <td style="border-radius: 1rem; margin-top: 2rem; font-size: smaller; font-weight: bolder; background-color: #eee; color: #eee; padding: 10px 15px; width: 25%">
                    Passenger & Ticket Information
                  </td>
            </table>
            </td> -->
            
          </tr>
    </div>
    
  
    <!--Return Flight Details Start-->
      <td colspan="2">
        <table cellspacing="0" cellpadding="0" width="100%" style="border: 1px solid #ccc;margin: 0 0 25px; margin-bottom: 3rem; margin-top: 3rem;">
          <tr>
            <td style="font-size: large; font-weight: bolder; background-color: #eee; color: #111; padding: 10px 15px; width: 25%">
              Passenger & Ticket Information
            </td>
            <td style="font-size: large; font-weight: bolder; background-color: #eee; color: #111; padding: 10px 15px; border-left: 1px solid #c4c1c1; width: 25%;">
              Payment Information
            </td>
            
          </tr>
          <tr>
            <td style="font-size: 17px; font-weight: bolder; padding: 15px; border-bottom: 2.5px solid #c4c1c1; width: 25%;">
              Passenger Name :
              <% if (user.googleId) { %>
                <span style="color: #00000071;"><%= user.googleDisplayName %></span>
              <% } else { %>
                <span style="color: #00000071;"><%= user.name %></span>
              <% } %>
            </td>
            
              <td style="font-size: 17px;font-weight: bolder; padding: 15px;border-bottom: 2.5px solid #c4c1c1;  border-left: 1px solid #c4c1c1; width: 25%;">
                Payment Gateway : <span style="color: #00000071;">PayPal</span>
              </td>
            </tr>

            <tr>
                <td style="font-size: 17px;font-weight: bolder; padding: 15px;border-bottom: 2.5px solid #c4c1c1;  width: 25%;">
                  Journey Date: <span style="color: #00000071;"><%= new Date(flight.schedule[0].departureDate).toISOString().split('T')[0] %>, <%= flight.schedule[0].departureTime %></span>
                </td>
                <td style="font-size: 17px; font-weight: bolder;padding: 15px;border-bottom: 2.5px solid #c4c1c1;  border-left: 1px solid #c4c1c1; width: 25%;">
                  Paid Date :<span style="color: #00000071;"> <%= new Date(flight.schedule[0].departureDate).toISOString().split('T')[0] %></span>
                </td>
              </tr>

              <tr>
                <td style="font-size: 17px; font-weight: bolder;padding: 15px;border-bottom: 2.5px solid #c4c1c1;  width: 25%;">
                  Ticket Number : <span style="color: #00000071;">A12</span>
                </td>
                <td style="font-size: 17px;font-weight: bolder; padding: 15px;border-bottom: 2.5px solid #c4c1c1;  border-left: 1px solid #c4c1c1; width: 25%;">
                  Transaction ID : <span style="color: #00000071;">TI54187465</span>
                </td>
              </tr>

              <tr>
                <td style="font-size: 17px;font-weight: bolder; padding: 15px;border-bottom: 2.5px solid #c4c1c1;  width: 25%;">
                  Booking Reference : <span style="color: #00000071;">HC765W
                </td>
                <td style="font-size: 17px;font-weight: bolder; padding: 15px;border-bottom: 2.5px solid #c4c1c1;  border-left: 1px solid #c4c1c1; width: 25%;">
                  Total Amount : <span style="color: #00000071;"><%= flight.price %>
                </td>
              </tr>
              
        </table>
      </td>
    </tr>
    <!--Return Flight Details End-->

    <tr>
      <td colspan="2">
        <table cellspacing="0" cellpadding="0" width="100%" style="border: 1px solid #ccc; margin: 0 0 5px;">
          <tr>
            <td style="font-size: large; font-weight: bolder; background-color: #eee; color: #111; padding: 10px 15px;">
              Flight Details
            </td>
            <td style="font-size: large; font-weight: bolder; background-color: #eee; color: #111; padding: 10px 15px; ">
              Class
            </td>
            <td style="font-size: large; font-weight: bolder; background-color: #eee; color: #111; padding: 10px 15px; ">
                Base Fare
            </td>
            <td style="font-size: large; font-weight: bolder; background-color: #eee; color: #111; padding: 10px 15px; ">
              Discount
            </td>
            <td style="font-size: large; font-weight: bolder; background-color: #eee; color: #111; padding: 10px 15px; ">
              Total
            </td>
          </tr>
          <!--Traveller Details Start-->
          <tr>
            <td style="font-size: 17px; padding: 15px; text-align: left; border-bottom: 3px solid #ccc;">
              <h3 style="margin: 0; text-transform: uppercase; border-bottom: 0px solid #ccc; padding: 0px 0 5px; color: #00000071; font-size: 18px;">Air India , <%= flight.departure %> - <%= flight.arrival %></h3>
              <h3 style="margin: 0; text-transform: uppercase; border-bottom: 0px solid #ccc; padding: 0px 0 5px; color: #00000071; font-size: 18px;">Date : <%= new Date(flight.schedule[0].departureDate).toISOString().split('T')[0] %>, <%= flight.schedule[0].departureTime %></h3>

  
            </td>
            <td style="font-size: 17px; padding: 15px; text-align: left; border-bottom: 3px solid #ccc;">
                <h3 style="margin: 0; text-transform: uppercase; border-bottom: 0px solid #ccc; padding: 0px 0 5px; color: #00000071; font-size: 18px;">Business</h3>

            </td>
            <td style="font-size: 17px; padding: 15px; text-align: left; border-bottom: 3px solid #ccc;">
                <h3 style="margin: 0; text-transform: uppercase; border-bottom: 0px solid #ccc; padding: 0px 0 5px; color: #00000071; font-size: 18px;">$<%=flight.price%></h3>
            </td>
            <td style="font-size: 17px; padding: 15px; text-align: left; border-bottom: 3px solid #ccc;">
                <h3 style="margin: 0; text-transform: uppercase; border-bottom: 0px solid #ccc; padding: 0px 0 5px; color: #00000071; font-size: 18px;">0</h3>
            </td>
            <td style="font-size: 17px; padding: 15px; text-align: left; border-bottom: 3px solid #ccc;">
                <h3 style="margin: 0; text-transform: uppercase; border-bottom: 0px solid #ccc; padding: 0px 0 5px; color: #00000071; font-size: 18px;">$<%= flight.price %></h3>
            </td>
          </tr>
          <!--Conv Fee Start-->
          <tr>
            <td style="font-size: 17px; padding: 15px 0 0; text-align: left;">&nbsp;</td>
            <td style="font-size: 17px; padding: 15px 0 0; text-align: center;">&nbsp;</td>
            <td style="font-size: 17px; padding: 15px 0 0; text-align: center;">&nbsp;</td>

            <td style="font-size: 17px; padding: 15px 15px 0;">
              <p style="font-weight: 700; margin: 0;">Convenience Fee</p>
            </td>
            <td style="font-size: 17px; padding: 15px 0 0; text-align: center; border-left: 1px solid #ccc; border-top: 0px solid #ccc;">
              $<%= flight.price %>
            </td>
          </tr>
          <!--Conv Fee End-->
          <!--Coupon Fee Start-->
          
          <tr>
            <td style="font-size: 17px; padding: 5px 0 0; text-align: left;">&nbsp;</td>
            <td style="font-size: 17px; padding: 5px 0 0; text-align: center;">&nbsp;</td>
            <td style="font-size: 17px; padding: 15px 0 0; text-align: center;">&nbsp;</td>

            <td style="font-size: 17px; padding: 5px 15px 0;">
              <p style="margin: 0; font-size: 14px;">Coupon(TRIP)</p>
            </td>
            <td style="font-size: 17px; padding: 5px 0 0; text-align: center; border-left: 1px solid #ccc;">
              $0
            </td>
          </tr>
          <!--Coupon Fee End-->
          <!--GST Fee Start-->
          <tr>
            <td style="font-size: 17px; padding: 5px 0 0; text-align: left;">&nbsp;</td>
            <td style="font-size: 17px; padding: 5px 0 0; text-align: center;">&nbsp;</td>
            <td style="font-size: 17px; padding: 15px 0 0; text-align: center;">&nbsp;</td>

            <td style="font-size: 17px; padding: 5px 15px 0;">
              <p style="margin: 0; font-size: 14px;">CGST(@9%)</p>
            </td>
            <td style="font-size: 17px; padding: 5px 0 0; text-align: center; border-left: 1px solid #ccc;">
              $0
            </td>
          </tr>
          <tr>
            <td style="font-size: 17px; padding: 5px 0 0; text-align: left;">&nbsp;</td>
            <td style="font-size: 17px; padding: 5px 0 0; text-align: center;">&nbsp;</td>
            <td style="font-size: 17px; padding: 15px 0 0; text-align: center;">&nbsp;</td>

            <td style="font-size: 17px; padding: 5px 15px 15px;">
              <p style="margin: 0; font-size: 14px;">SGST/IGST/UTGST (@9%)</p>
            </td>
            <td style="font-size: 17px; padding: 5px 0 15px; text-align: center; border-left: 1px solid #ccc;">
              $0
            </td>
          </tr>
          <!--GST Fee End-->
          <!--Grand Total Start-->
          <tr>
            <td style="font-size: 17px; margin-top: 15px; padding: 15px 0; text-align: left; border-top: 1px solid #ccc;">&nbsp;</td>
            <td style="font-size: 17px; margin-top: 15px; padding: 15px 0; text-align: center; border-top: 1px solid #ccc;">&nbsp;</td>
            <td style="font-size: 17px; margin-top: 15px; padding: 15px 0; text-align: center; border-top: 1px solid #ccc;">&nbsp;</td>

            <td style="font-size: 17px; margin-top: 15px; padding: 15px 15px;border-top: 1px solid #ccc;">
              <p style="font-weight: 700; margin: 0;">GRAND TOTAL</p>
            </td>
            <td style="font-size: 17px; margin-top: 15px; padding: 15px 0; text-align: center; border-left: 1px solid #ccc; border-top: 1px solid #ccc;">
              $<%= flight.price %>
            </td>
          </tr>
          <!--Grand Total End-->
        </table>
      </td>
    </tr>

<%- include("partials/newfooter.ejs"); -%>



<!-- Code to generate Ticket for the user -->

  <section class="tickett" >
      <h2 style="color: white; font-size : 30px; text-align : center; margin-bottom : 50px;">My Booked Flight Ticket</h2>
      
          <div class="ticket">
          <div id="barBig">
              <!-- <img src="https://www.incimages.com/uploaded_files/image/1024x576/*Barcode_32896.jpg" alt="Bar Code"> -->
          </div>
          <div class="mainInfo" id="mainInfo">
              <div class="passenger-info-container">
                  <div class="passenger-info">
                      <span>Name of Passenger</span>
                      <% if (user.googleId) { %>
                        <span class="details"><%= user.googleDisplayName %></span>
                      <% } else { %>
                        <span class="details"><%= user.name %></span>
                      <% } %>
                  </div>
                  <div class="passenger-info">
                      <span>Flight</span>
                      <span class="details">FL006</span>
                  </div>
                  <div class="passenger-info">
                      <span>Date</span>
                      <span class="details"><%= flight.schedule[0].departureDate %></span>
                  </div>
                  <div class="passenger-info">
                      <span>Seat</span>
                      <span class="details">8C</span>
                  </div>
              </div>
              <h1 class="destination1">
                  <%= flight.departure %>
                  <img src="https://i.pinimg.com/originals/e9/0a/29/e90a299a041b7d37cdafc6eb2905e9d6.png" alt="Destination">
                  <%= flight.arrival %>
              </h1>
              <div class="flight-info-container">
                  <div class="flight-info">
                      <span>Gate</span>
                      <span>D 12</span>
                  </div>
                  <div class="flight-info">
                      <span>Boarding Time</span>
                      <span><%=flight.schedule[0].departureTime %> IST</span>
                  </div>
                  <div class="flight-info">
                      <span>ETD</span>
                      <span><%= flight.schedule[0].departureTime %> IST</span>
                  </div>
                  <div class="flight-info">
                      <span>ETA</span>
                      <span><%= flight.schedule[0].arrivalTime %> IST</span>
                  </div>
              </div>
              <p class="note">Gate closes 20 minutes before departure</p>
          </div>
          <div id="circles">
              <div class="circle"></div>
              <div class="circle"></div>
              <div class="circle"></div>
              <div class="circle"></div>
              <div class="circle"></div>
              <div class="circle"></div>
              <div class="circle"></div>
              <div class="circle"></div>
              <div class="circle"></div>
              <div class="circle"></div>
              <div class="circle"></div>
              <div class="circle"></div>
              <div class="circle"></div>
              <div class="circle"></div>
              <div class="circle"></div>
              <div class="circle"></div>
              <div class="circle"></div>
              <div class="circle"></div>
              <div class="circle"></div>
              <div class="circle"></div>
          </div>
          <div id="sideInfo">
              <img src="https://www.incimages.com/uploaded_files/image/1024x576/*Barcode_32896.jpg" alt="Small Bar" id="barSmall">
              <div class="details-container">
                  <div class="flight-details">
                      <div>
                          <span>Name of Passenger</span>
                          <% if (user.googleId) { %>
                            <span><%= user.googleDisplayName %></span>
                          <% } else { %>
                            <span><%= user.name %></span>
                          <% } %>
                      </div>
                      <div>
                          <span>Flight</span>
                          <span>FL006</span>
                      </div>
                      <div>
                          <span>Date</span>
                          <span><%= flight.schedule[0].departureDate %></span>
                      </div>
                      <div>
                          <span>Seat</span>
                          <span>8C</span>
                      </div>
                  </div>
                  <div class="destination-details">
                      <%= flight.arrival %>
                      <img src="https://i.pinimg.com/originals/e9/0a/29/e90a299a041b7d37cdafc6eb2905e9d6.png" alt="Destination">
                      <%= flight.departure %>
                  </div>
              </div>
          </div>
      </div>

  </section>